openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний для приложения Расписание Путешествий
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net

paths:
  /v3.0/nearest_stations/:
    get:
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: lat
        in: query
        required: true
        schema:
          type: number
      - name: lng
        in: query
        required: true
        schema:
          type: number
      - name: distance
        in: query
        required: true
        schema:
          type: integer
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/search/:
    get:
      summary: Расписание рейсов между станциями
      operationId: searchRoutes
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: Дата (YYYY-MM-DD)
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

  /v3.0/carrier/:
    get:
      summary: Информация о перевозчике
      operationId: getCarrierInfo
      parameters:
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика
        required: true
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'

components:
  schemas:
    # --- Схемы Ближайших станций ---
    Stations:
      type: object
      properties:
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Station:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
        transport_type:
          type: string

    # --- Схемы Поиска Маршрутов ---
    SearchResponse:
      type: object
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/RouteSegment'
    RouteSegment:
      type: object
      properties:
        thread:
          $ref: '#/components/schemas/RouteThread'
        departure:
          type: string
        arrival:
          type: string
        start_date:
          type: string
    RouteThread:
      type: object
      properties:
        title:
          type: string
        number:
          type: string
        carrier:
          $ref: '#/components/schemas/ShortCarrier'
    ShortCarrier:
      type: object
      properties:
        code:
          type: integer
        title:
          type: string

    # --- Схемы Информации о Перевозчике ---
    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/FullCarrier'
    FullCarrier:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        phone:
          type: string
        logo:
          type: string
